.navbar-brand{
	padding: 7px 15px 0px 15px;
}

.navbar-inverse{
	background-color: #ff722b;
	border-color: #ff722b;
}

.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
	color:#fff;
	background-color:#c75922;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color:#c75922;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	background: url(../images/banner_bg.jpg) center center no-repeat;
}

